#nav2{
    margin-top: 10px;
    background-color: #E9967A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 80px;
    text-align: center;
    
}